{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <header>
      <a href="{% url 'blog:post_list' %}"><h1>techBlog</h1></a>
    </header>
    <main>{% block content %} {% endblock %}</main>
    <footer>
      <p>Footer</p>
    </footer>
  </body>
</html>
