{% extends "blog/base.html" %} {% load blog_tags %} {% block title %} {{ post.title }} {% endblock %}
{% block content %}
<main class="w-full md:w-5/6 lg:w-3/4 mx-auto grid grid-cols-1 lg:grid-cols-5 gap-y-8 p-4 lg:p-6 mt-4 md:mt-6">
  <!-- back -->
  <a href="{% url 'blog:post_list' %}" title="back home"
    class="w-8 h-8 md:w-10 md:h-10 border-[0.5px] border-light-textSubtle dark:border-dark-textSubtle rounded-full flex justify-center items-center bg-light-hover dark:bg-dark-hover text-light-text dark:text-dark-text lg:col-span-1">
    <svg viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 md:w-6 md:h-6">
      <path fill-rule="evenodd"
        d="M15 10a.75.75 0 01-.75.75H7.612l2.158 1.96a.75.75 0 11-1.04 1.08l-3.5-3.25a.75.75 0 010-1.08l3.5-3.25a.75.75 0 111.04 1.08L7.612 9.25h6.638A.75.75 0 0115 10z"
        clip-rule="evenodd" />
    </svg>
  </a>
  <!-- content -->
  <div class="grid grid-cols-1 gap-y-4 lg:col-span-3">
    <!-- author + share -->
    <div class="flex justify-between items-center">
      <div class="text-light-textSubtle dark:text-dark-textSubtle">
        <span>{{ post.author }}</span> | <span>{{ post.publish }}</span>
      </div>

      <!-- share -->
      <a href="{% url "blog:post_share" post.id %}" title="share">
        <span class="text-light-textSec dark:text-dark-textSec hover:text-light-text dark:hover:text-dark-text">
          <svg viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
            <path
              d="M13 4.5a2.5 2.5 0 11.702 1.737L6.97 9.604a2.518 2.518 0 010 .792l6.733 3.367a2.5 2.5 0 11-.671 1.341l-6.733-3.367a2.5 2.5 0 110-3.475l6.733-3.366A2.52 2.52 0 0113 4.5z" />
          </svg>
        </span>
      </a>
    </div>

    <!-- article -->
    <div class="flex flex-col gap-y-6">
      <h1 class="text-3xl md:text-5xl lg:text-7xl font-bold text-light-text dark:text-dark-text w-full">
        {{ post.title }}
      </h1>
      <article class="flex flex-col gap-y-2 text-base text-light-textSec dark:text-dark-textSec">
        {{ post.body|markdown }}
      </article>
      <!-- tags -->
      <div class="flex gap-x-1.5">
        {% for tag in post.tags.all %}
        <a href="{% url "blog:post_list_by_tag" tag.slug %}" title="blog tag title"
          class="bg-light-hover dark:bg-dark-hover text-light-textSec dark:text-dark-textSec px-2 py-0.5 rounded-lg text-sm font-semibold font-sans capitalize">{{tag.name}}</a>
        {% if not forloop.last %},
        {% endif %}
        {% endfor %}
      </div>
    </div>

    <!-- comments -->
    <div class="mt-4 flex flex-col gap-y-1">
      <h3 class="text-2xl md:text-3xl font-bold text-light-text dark:text-dark-text">
        Recent Comments
      </h3>
      {% with comments.count as total_comments %}
      <p class="text-lg font-medium text-light-textSec dark:text-dark-textSec">
        {{ total_comments }}
        <span class="font-normal text-base italic">comment{{ total_comments|pluralize }}</span>
      </p>
      {% endwith %}
    </div>

    <!-- commentList -->
    <div class="flex flex-col divide-y-2 divide-light-textSubtle dark:divide-dark-textSubtle w-full">
      {% for comment in comments %}
      <!-- commentItem -->
      <div class="flex flex-col gap-y-2 p-2 pb-4">
        <p class="text-light-text dark:text-dark-text text-sm font-medium">
          {{ comment.name }} <span class="font-normal"> | {{ comment.created }}</span>
        </p>
        <p class="text-light-textSec dark:text-dark-textSec text-base font-normal">
          {{ comment.body }}
        </p>
      </div>
      {% empty %}
      <p class="text-lg font-medium text-light-textSec dark:text-dark-textSec">There are no comments here.</p>
      {% endfor %}
    </div>

    <!-- addAComment -->
    <h3 class="mt-4 text-2xl md:text-3xl font-bold text-light-text dark:text-dark-text">
      Add a Comment
    </h3>
    
    {% include "blog/post/includes/comment_form.html" %}
  </div>
</main>
{% endblock content %}