{% extends "blog/base.html" %}
{% load blog_tags %}
{% block title %}
Searches for Blog Posts
{% endblock title %}
{% block content %}

<div>
  {% if query %}
  <div class="w-full h-20 md:h-24 bg-light-hover dark:bg-dark-hover my-4 md:my-8">
    <div class="flex justify-between items-center w-full px-2 md:px-0 md:w-5/6 lg:w-3/4 mx-auto h-full">
      <h3 class="text-lg md:text-xl font-medium text-light-text dark:text-dark-text">
        Search results for: "{{ query }}"
      </h3>
      <a href="{% url "blog:post_list" %}" class="text-link hover:text-linkHover text-sm">Home</a>
    </div>
  </div>

  <h4
    class="text-base md:text-lg font-normal text-light-textSec dark:text-dark-textSec w-full px-2 md:px-0 md:w-5/6 lg:w-3/4 mx-auto">
    {% with results.count as total_results %}
    Found {{ total_results }} result{{ total_results|pluralize }}.
    {% endwith %}
  </h4>

  <!-- results list -->
  <div
    class="w-full px-2 md:px-0 md:w-5/6 lg:w-3/4 mx-auto grid grid-cols-1 divide-y-[1.5px] divide-light-textSubtle dark:divide-dark-textSubtle">
    {% for post in results %}

    <div
      class="flex flex-col gap-y-2 w-full group h-full hover:bg-light-hover dark:hover:bg-dark-hover p-4 cursor-pointer">
      <a href="{{ post.get_aboslute_url }}"
        class="text-lg md:text-xl font-bold text-light-textSec dark:text-dark-textSec group-hover:text-light-textSubtle group-hover:dark:text-dark-textSubtle">{{ post.title }}</a>
      <p
        class="text-sm font-light text-light-textSec dark:text-dark-textSec md:w-3/4 text-left group-hover:text-light-textSubtle group-hover:dark:text-dark-textSubtle">
        {{ post.body|markdown|truncatewords_html:15 }}
      </p>
    </div>
    {% empty %}
    <h4
      class="text-base md:text-lg font-normal text-light-textSec dark:text-dark-textSec w-full px-2 md:px-0 md:w-5/6 lg:w-3/4 mx-auto">
      No results were found for "{{query}}".
    </h4>
    {% endfor %}
  </div>
  <p>
    <a href="{% url "blog:blog_search" %}">Search again</a>
  </p>
  {% else %}
  <main class="mt-6 w-full px-2 md:w-5/6 lg:w-3/4 mx-auto">
    <!-- search form -->
    <form method="get" class="w-full">
      {% csrf_token %}
      <div class="flex flex-col gap-y-2 w-full relative">
        <label for="search" class="order-last text-base text-light-textSec dark:text-dark-textSec ml-2">Quick Search
          <span class="text-light-textSubtle dark:text-dark-textSubtle font-bold ml-1">Ctrl /</span></label>
        <input type="search" name="query" id="search" placeholder="type then hit enter to search"
          class="w-full h-20 placeholder:uppercase placeholder:text-light-textSubtle dark:placeholder:text-dark-textSubtle placeholder:text-base pl-14 bg-transparent dark:bg-transparent border-2 border-light-textSubtle dark:border-dark-textSubtle text-light-textSec dark:text-dark-textSec focus:bg-light-hover dark:bg-dark-hover focus:outline-none focus:border-link focus:ring-2 focus:ring-link focus:border-none" />
        <span
          class="hidden absolute top-7 right-4 z-20 text-light-textSec dark:text-dark-textSec bg-light-hover dark:bg-dark-hover p-1 px-2 rounded text-xs cursor-pointer"
          id="esc">Esc</span>
        <span class="absolute top-7 left-4 text-light-text dark:text-dark-text"><svg viewBox="0 0 20 20"
            fill="currentColor" class="w-6 h-6">
            <path fill-rule="evenodd"
              d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
              clip-rule="evenodd" />
          </svg>
        </span>
      </div>
      <div class="hidden">
        <button type="submit" id="submit-button" class="hidden">
          search
        </button>
      </div>
    </form>
  </main>
  {% endif %}
</div>
{% endblock content %}